:root {
    --background-color: #121a27;
    --main-color: #65abff;
    --text-background-color: #202733;
    --base-text-color: #f3f6f9;
}

body {
    font-family: Arial, sans-serif;
    width: 360px;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--main-color);
    text-align: center;
}

h1 {
    font-size: 26px;
    margin-top: 8px;
    margin-bottom: 20px;
}

label {
    user-select: none;
    font-size: 16px;
    color: var(--base-text-color);
    text-decoration: underline;
}

select {
    cursor: pointer;
    outline: none;
    padding: 6px;
    background-color: var(--text-background-color);
    color: var(--base-text-color);
    border: 2px solid var(--main-color);
    border-radius: 6px;
}

.row-opt {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}

.hint {
    position: absolute;
    background-color: #333333;
    color: var(--base-text-color);
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    display: none;
    z-index: 10;
    max-width: 200px;
    word-wrap: break-word;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
}

.row-opt label:hover + .hint {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-background-color);
    border: 2px solid var(--main-color);
    border-radius: 20px;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 2px;
    background-color: var(--base-text-color);
    border-radius: 50%;
    transition: 0.2s;
}

.switch input:checked + .slider {
    background-color: var(--main-color);
}

.switch input:checked + .slider:before {
    transform: translateX(16px);
}

.input {
    outline: none;
    padding: 6px;
    width: 100%;
    max-width: 250px;
    background-color: var(--text-background-color);
    color: var(--base-text-color);
    font-size: 14px;
    text-align: center;
    border: 2px solid var(--main-color);
    border-radius: 6px;
}
